@charset "UTF-8";

@media screen and (min-width: 768px) {
    .material-symbols-outlined {
        display: none;
    }

    menu {
        display: block;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    menu > ul > li {
        display: inline-block;
    }

    menu a {
        background-color: rgb(54, 54, 54);
        border-top: none;
        margin: 0px 5px;
        border-radius: 10px;
    }

    main {
        width: 768px;
    }
}