@charset "UTF-8";

@media screen and (min-width: 768px) {
    .material-symbols-outlined {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    menu a {
        background-color: rgb(54, 54, 54);
        border-top: none;
    }

    main {
        width: 768px;
    }
}